In [52]:
sc

In [33]:
import os

# 1. 성적 합계 및 평균

| 이름 | 과목 | 점수 |
|:--------|:--------|:--------|
| 홍길동 | Korean | 85 |
| 홍길동 | English | 80 |
| 임꺽정 | Korean | 60.5 |
| 임꺽정 | English | 80.5 |
| 세종대왕 | Korean | 100 |
| 세종대왕 | English | 90 |

- 문제1: 이름으로 합계를 구해보자. ex) '홍길동' 165.0, '임꺽정' 141.0, '세종대왕' 190
- 문제2: 과목으로 합계를 게산해보자. ex) 'Korean' 245.5,'English' 250.5
- 문제3: 이름으로 합계와 개수를 구해보자. ex) '홍길동' (165.0, 2), '임꺽정' (141.0, 2), '세종대왕' (190.0, 2)
- 문제4: 이름으로 평균을 계산해보자. ex) '홍길동' 82.5, '임꺽정' 70.5, '세종대왕' 95.0

In [1]:
marks=[
    "'홍길동','Korean', 85",
    "'홍길동','English', 80",
    "'임꺽정','Korean', 60.5",
    "'임꺽정','English', 80.5",
    "'세종대왕','Korean', 100",
    "'세종대왕','English', 90"
]

### 문제1: 이름으로 합계를 구해보자. ex) '홍길동' 165.0, '임꺽정' 141.0, '세종대왕' 190

In [2]:
myRDD_marks = spark.sparkContext.parallelize(marks)

In [3]:
myRDD_marks.collect()

["'홍길동','Korean', 85",
 "'홍길동','English', 80",
 "'임꺽정','Korean', 60.5",
 "'임꺽정','English', 80.5",
 "'세종대왕','Korean', 100",
 "'세종대왕','English', 90"]

In [4]:
myRDD_marks_Q1 = myRDD_marks.map(lambda x:x.split(','))

In [5]:
myRDD_marks_Q1.collect()

[["'홍길동'", "'Korean'", ' 85'],
 ["'홍길동'", "'English'", ' 80'],
 ["'임꺽정'", "'Korean'", ' 60.5'],
 ["'임꺽정'", "'English'", ' 80.5'],
 ["'세종대왕'", "'Korean'", ' 100'],
 ["'세종대왕'", "'English'", ' 90']]

In [6]:
myRDD_marks_Q1 = myRDD_marks\
    .map(lambda x:x.split(','))\
    .map(lambda x:(x[0],float(x[2])))

In [7]:
myRDD_marks_Q1.collect()

[("'홍길동'", 85.0),
 ("'홍길동'", 80.0),
 ("'임꺽정'", 60.5),
 ("'임꺽정'", 80.5),
 ("'세종대왕'", 100.0),
 ("'세종대왕'", 90.0)]

In [8]:
myRDD_marks_Q1 = myRDD_marks\
    .map(lambda x:x.split(','))\
    .map(lambda x:(x[0],float(x[2])))\
    .reduceByKey(lambda x,y:x+y)

In [9]:
myRDD_marks_Q1.collect()

[("'홍길동'", 165.0), ("'세종대왕'", 190.0), ("'임꺽정'", 141.0)]

In [10]:
res = myRDD_marks_Q1.collect()
for i in res:
    print(i[0],i[1])

'홍길동' 165.0
'세종대왕' 190.0
'임꺽정' 141.0

### 문제2: 과목으로 합계를 게산해보자. ex) 'Korean' 245.5,'English' 250.5

In [11]:
# 
myRDD_marks = spark.sparkContext.parallelize(marks)

In [12]:
myRDD_marks.collect()

["'홍길동','Korean', 85",
 "'홍길동','English', 80",
 "'임꺽정','Korean', 60.5",
 "'임꺽정','English', 80.5",
 "'세종대왕','Korean', 100",
 "'세종대왕','English', 90"]

In [13]:
myRDD_marks_Q2 = myRDD_marks.map(lambda x:x.split(','))

In [14]:
myRDD_marks_Q2.collect()

[["'홍길동'", "'Korean'", ' 85'],
 ["'홍길동'", "'English'", ' 80'],
 ["'임꺽정'", "'Korean'", ' 60.5'],
 ["'임꺽정'", "'English'", ' 80.5'],
 ["'세종대왕'", "'Korean'", ' 100'],
 ["'세종대왕'", "'English'", ' 90']]

In [15]:
myRDD_marks_Q2 = myRDD_marks\
    .map(lambda x:x.split(','))\
    .map(lambda x:(x[1],float(x[2])))

In [16]:
myRDD_marks_Q2.collect()

[("'Korean'", 85.0),
 ("'English'", 80.0),
 ("'Korean'", 60.5),
 ("'English'", 80.5),
 ("'Korean'", 100.0),
 ("'English'", 90.0)]

In [17]:
myRDD_marks_Q2 = myRDD_marks\
    .map(lambda x:x.split(','))\
    .map(lambda x:(x[1],float(x[2])))\
    .reduceByKey(lambda x,y:x+y)

In [18]:
myRDD_marks_Q2.collect()

[("'Korean'", 245.5), ("'English'", 250.5)]

In [19]:
res = myRDD_marks_Q2.collect()
for i in res:
    print(i[0],i[1])

'Korean' 245.5
'English' 250.5

### 문제3: 이름으로 합계와 개수를 구해보자. ex) '홍길동' (165.0, 2), '임꺽정' (141.0, 2), '세종대왕' (190.0, 2)

In [20]:
myRDD_marks = spark.sparkContext.parallelize(marks)

In [21]:
myRDD_marks.collect()

["'홍길동','Korean', 85",
 "'홍길동','English', 80",
 "'임꺽정','Korean', 60.5",
 "'임꺽정','English', 80.5",
 "'세종대왕','Korean', 100",
 "'세종대왕','English', 90"]

In [22]:
myRDD_marks_Q3 = myRDD_marks.map(lambda x:x.split(','))

In [23]:
myRDD_marks_Q3.collect()

[["'홍길동'", "'Korean'", ' 85'],
 ["'홍길동'", "'English'", ' 80'],
 ["'임꺽정'", "'Korean'", ' 60.5'],
 ["'임꺽정'", "'English'", ' 80.5'],
 ["'세종대왕'", "'Korean'", ' 100'],
 ["'세종대왕'", "'English'", ' 90']]

In [24]:
myRDD_marks_Q3 = myRDD_marks\
    .map(lambda x:x.split(','))\
    .map(lambda x:(x[0],float(x[2])))

In [25]:
myRDD_marks_Q3.collect()

[("'홍길동'", 85.0),
 ("'홍길동'", 80.0),
 ("'임꺽정'", 60.5),
 ("'임꺽정'", 80.5),
 ("'세종대왕'", 100.0),
 ("'세종대왕'", 90.0)]

In [26]:
myRDD_marks_Q3 = myRDD_marks\
    .map(lambda x:x.split(','))\
    .map(lambda x:(x[0],float(x[2])))\
    .combineByKey(
    (lambda x: (x,1)), # the initial value, with value x and count 1
    (lambda acc, value : (acc[0]+value,acc[1]+1)), # how to combine a pair value with the accumulator: sum value, and increment count
    (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])) # combine accumulators
)

In [27]:
myRDD_marks_Q3.collect()

[("'홍길동'", (165.0, 2)), ("'세종대왕'", (190.0, 2)), ("'임꺽정'", (141.0, 2))]

### 문제4: 이름으로 평균을 계산해보자. ex) '홍길동' 82.5, '임꺽정' 70.5, '세종대왕' 95.0

In [29]:
myRDD_marks_Q4 = myRDD_marks_Q3\
    .map(lambda x: (x[0],x[1][0]/x[1][1]))\
    .collect()

In [30]:
myRDD_marks_Q4

[("'홍길동'", 82.5), ("'세종대왕'", 95.0), ("'임꺽정'", 70.5)]

# 2. RDD 통해 word vector 생성하기

In [31]:
%%writefile data/spark_wiki.txt
Apache Spark is and open-source distributed general-purpose cluster-computing framework.
Spark provides an interface for programming entire clusters with implicit data parallelism and fault tolerance.
Originally developed at the University of California, Berkeley's AMP Lab, the Spark codebase was later donated to the Apache Software Foundation, which has maintained it since.
Apache Spark has its architectural foundation in the resilient distributed dataset(RDD), a read only multiset of data items distributed over a cluster of machines, that is maintained in a fault-tolerant way.
The Dataframe API was released as an abstraction on top of the RDD, followed by the Dataset API.
In Spark 1.x, the RDD was the primary application programming interface(API), but as of Spark 2.x use of the Dataset API is encouraged even though the RDD  API is not deprecated.
The RDD technology still underlies the Dataset API.

Writing data/spark_wiki.txt

## 2.1 RDD 생성

In [1]:
myRDD_word_count = spark.sparkContext.textFile(os.path.join("data/spark_wiki.txt"))

## 2.2 단어의 리스트 생성 - flatMap() 사용

In [2]:
myWords = myRDD_word_count.flatMap(lambda x: x.split())

In [3]:
print("총 단어 갯수: ",myWords.count())

총 단어 갯수:  138

## 2.3 불용어 제거

In [4]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = list(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /Users/admin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
myWords1 = myWords.filter(lambda x: x.lower() not in stop_words)

In [6]:
print("총 단어 갯수: ",myWords1.count())

총 단어 갯수:  84

## 2.4 단어 tuple 생성
- 불필요 구문(쉼표, 마침표, ...)
- (단어, 1) 구조 만들어서 나중에 연산 가능하게 만들어 놓기

In [7]:
myWords2 = (myWords1
            .map(lambda x: (x.lower().rstrip().lstrip().rstrip(',').rstrip('.'), 1))
           )

In [53]:
myWords2.sortByKey().take(5)

[('1.x', 1), ('2.x', 1), ('abstraction', 1), ('amp', 1), ('apache', 1)]

## 2.5 빈도 집계

### 2.5.1 reduceByKey()

In [54]:
myWords_reduceByKey = myWords2.reduceByKey(lambda x,y:x+y)

In [55]:
myWords_reduceByKey.sortByKey().take(10)

[('1.x', 1),
 ('2.x', 1),
 ('abstraction', 1),
 ('amp', 1),
 ('apache', 3),
 ('api', 5),
 ('application', 1),
 ('architectural', 1),
 ("berkeley's", 1),
 ('california', 1)]

### 2.5.2 groupByKey(), mapValues()
- groupByKey() 통해 집단화 되어서 PariRDD가 되어 key-value 쌍으로 구성됨
- mapValues()를 통해 각 쌍의 value에 대해 sum 연산을 함

In [59]:
myWords_groupByKey1 = myWords2.groupByKey().mapValues(sum)

In [60]:
myWords_groupByKey1.sortByKey().take(10)

[('1.x', 1),
 ('2.x', 1),
 ('abstraction', 1),
 ('amp', 1),
 ('apache', 3),
 ('api', 5),
 ('application', 1),
 ('architectural', 1),
 ("berkeley's", 1),
 ('california', 1)]

### 2.5.3 groupByKey(), map, len
- mapValues() 대신 map()과 len()을 통해 동일한 결과 얻어오기

In [63]:
myWords_groupByKey2 = myWords2.groupByKey().map(lambda x: (x[0],len(x[1])))

In [64]:
myWords_groupByKey2.sortByKey().take(10)

[('1.x', 1),
 ('2.x', 1),
 ('abstraction', 1),
 ('amp', 1),
 ('apache', 3),
 ('api', 5),
 ('application', 1),
 ('architectural', 1),
 ("berkeley's", 1),
 ('california', 1)]

--------

# 3. DataFrame
- 행,열로 구조화도니 데이터 구조, RDD인데 schema 얹어 놓은 것
- spark 1.0 당시 schemaRDD라는 명칭으로 제공 됨
- 대용량 데이터를 처리하기 위해 만들어진 프레임워크로 분산해서 사용할 수 있게 고안 됨
- 모델 schema를 설정해서 사용함
- '열(row)'에 대해 명칭 및 '데이터 type'을 갖고 있고, 이를 지켜서 데이터 저장함

**Schema**
- row는 dataframe의 행
- python의 list, dict를 사용해서 row 구성할 수 있음
- column은 dataframe의 열


**dataframe의 데이터 type**
- NullType
- StringType
- BinaryType
- BooleanType
- DateType
- TimestampType
- DoubleType
- DecimalType
- ShortType
- ArrayType
- MapType

## 3.1 DataFrame 생성

### 3.1.1 list에서 DataFrame 생성하기

In [67]:
myList=[('1','Park TH', 2211),
        ('1','Lee EB', 7747),
        ('2','Kim YW', 2049),
        ('2','Hong GD', 1234)]

In [68]:
myDF = spark.createDataFrame(myList)

In [69]:
myDF.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

In [70]:
myDF.show()

+---+-------+----+
| _1|     _2|  _3|
+---+-------+----+
|  1|Park TH|2211|
|  1| Lee EB|7747|
|  2| Kim YW|2049|
|  2|Hong GD|1234|
+---+-------+----+

**column명 있이 생성하기**

In [71]:
myDF1 = spark.createDataFrame(myList,['year','name','phone'])

In [72]:
myDF1.show()

+----+-------+-----+
|year|   name|phone|
+----+-------+-----+
|   1|Park TH| 2211|
|   1| Lee EB| 7747|
|   2| Kim YW| 2049|
|   2|Hong GD| 1234|
+----+-------+-----+

### 3.1.2 Row 객체 사용해서 생성

In [73]:
from pyspark.sql import Row
Person = Row('year','name','phone')
row1 = Person('1','Park TH',2211)

In [74]:
myRows = [row1,
         Person('1','Lee EB',7747),
         Person('2','Kim YW',2049),
         Person('2','Hong GD',1234)]

In [75]:
myDF2 = spark.createDataFrame(myRows)

In [76]:
myDF2.printSchema()

root
 |-- year: string (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: long (nullable = true)

In [77]:
myDF2.show()

+----+-------+-----+
|year|   name|phone|
+----+-------+-----+
|   1|Park TH| 2211|
|   1| Lee EB| 7747|
|   2| Kim YW| 2049|
|   2|Hong GD| 1234|
+----+-------+-----+

### 3.1.3 RDD에서 생성하기

In [78]:
myList=[('1','Park TH', 2211),
        ('1','Lee EB', 7747),
        ('2','Kim YW', 2049),
        ('2','Hong GD', 1234)]

In [79]:
myRDD = spark.sparkContext.parallelize(myList)

In [80]:
myRDD.collect()

[('1', 'Park TH', 2211),
 ('1', 'Lee EB', 7747),
 ('2', 'Kim YW', 2049),
 ('2', 'Hong GD', 1234)]

In [81]:
# toDF() 으로 DataFrame 생성
myDF3 = myRDD.toDF()

In [82]:
myDF3.show()

+---+-------+----+
| _1|     _2|  _3|
+---+-------+----+
|  1|Park TH|2211|
|  1| Lee EB|7747|
|  2| Kim YW|2049|
|  2|Hong GD|1234|
+---+-------+----+

In [83]:
# createDataFrame() 으로 DataFrame 생성
myDF4 = spark.createDataFrame(myRDD,['year','name','phone'])

In [92]:
myDF4.printSchema()

root
 |-- year: string (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: long (nullable = true)

In [84]:
myDF4.show()

+----+-------+-----+
|year|   name|phone|
+----+-------+-----+
|   1|Park TH| 2211|
|   1| Lee EB| 7747|
|   2| Kim YW| 2049|
|   2|Hong GD| 1234|
+----+-------+-----+

#### 3.1.3.1 schema 설정

In [110]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType,IntegerType, DateType

In [111]:
mySchema = StructType([
    StructField("id", IntegerType(), True),
    StructField("weight", DoubleType(), True),
    StructField("height", DoubleType(), True)
])

In [112]:
myList = [
    (1, 180.3, 79.5),
    (2, 190.0, 85.5),
    (3, 189.5, 87.5),
    (4, 195.0, 90.0),
    (5, 200.3, 102.5)
]
myRDD = spark.sparkContext.parallelize(myList)

In [113]:
myDF5 = spark.createDataFrame(myRDD,mySchema)

In [114]:
myDF5.printSchema()

root
 |-- id: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- height: double (nullable = true)

In [115]:
myDF5.show()

+---+------+------+
| id|weight|height|
+---+------+------+
|  1| 180.3|  79.5|
|  2| 190.0|  85.5|
|  3| 189.5|  87.5|
|  4| 195.0|  90.0|
|  5| 200.3| 102.5|
+---+------+------+

### 3.1.4 CSV에서 생성하기

In [116]:
%%writefile data/CSV2DF.csv
0, 0
1, 1
2, 2
3, 3
4, 4
5, 5
6, 6
7, 7
8, 8
9, 9

Overwriting data/CSV2DF.csv

#### 3.1.4.1 format load

In [117]:
myDF6 = spark\
    .read\
    .format('com.databricks.spark.csv')\
    .options(header='false', inferschema='true', delimiter=',')\
    .load(os.path.join('data/CSV2DF.csv'))

In [118]:
myDF6.show()

+---+---+
|_c0|_c1|
+---+---+
|  0|0.0|
|  1|1.0|
|  2|2.0|
|  3|3.0|
|  4|4.0|
|  5|5.0|
|  6|6.0|
|  7|7.0|
|  8|8.0|
|  9|9.0|
+---+---+

#### 3.1.4.2 csv

In [119]:
myDF7 = spark\
    .read\
    .options(header='false', inferschema='true', delimiter=',')\
    .csv(os.path.join('data/CSV2DF.csv'))

In [120]:
myDF7.show()

+---+---+
|_c0|_c1|
+---+---+
|  0|0.0|
|  1|1.0|
|  2|2.0|
|  3|3.0|
|  4|4.0|
|  5|5.0|
|  6|6.0|
|  7|7.0|
|  8|8.0|
|  9|9.0|
+---+---+